@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin transform($arguments) {
    -webkit-transform: $arguments;
    -moz-transform: $arguments;
    -o-transform: $arguments;
    -ms-transform: $arguments;
    transform: $arguments;
}

@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin box-align($align: start, $align2: $align) {
    -webkit-box-align: $align;
    -moz-box-align: $align;
    -webkit-align-items: $align2;
    -ms-flex-align: $align;
    align-items: $align2;
}

@mixin flex-justify-content($justify: start, $justify2: $justify) {
    -webkit-box-pack: $justify;
    -moz-box-pack: $justify;
    -webkit-justify-content: $justify2;
    -ms-flex-pack: $justify;
    justify-content: $justify2;
}

@mixin globalWidth {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    overflow-y: hidden;

    @include respond(phone) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin createTransition($timing, $type) {
    -webkit-transition: all $timing $type;
    -moz-transition: all $timing $type;
    -o-transition: all $timing $type;
    transition: all $timing $type;
}

@mixin createShadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) { @content }; // 600px
    }
    @else if $breakpoint == phablet {
        @media (min-width: 37.5em)  { @content ; }
    }
    @else if $breakpoint == big-phone {
        @media (max-width: 47.9375em) { @content; }
    }
    @else if $breakpoint == tab-port {
        @media screen and (max-width: 56.25em) { @content }; // 900px
    }
    @else if $breakpoint == tab-land {
        @media screen and (max-width: 75em) { @content }; // 1200px
    }
    @else if $breakpoint == big-desktop {
        @media screen and(max-width: 112.5em) { @content }; // 1800px
    }
}
