// $global-width: 130rem;

// $border-radius: 7px;


// $main_top_padding: 5.4rem;
// $main_top_padding__phone: 2.7rem;


// $col_primary: #4B63D3;


$--primary: #f7f0ea;
$--secondary-text: rgb(126, 126, 126);
$--third-text: lighten($color: rgb(126, 126, 126), $amount: 5%);

$--border-primary: #ebebeb;
$--border-secondary: #f1f1f1;