@import '../../sass/global.scss';

main {
    // margin-top: 7rem;
    margin-top: 6.4rem;
}

.footer {
    margin-top: 7.4rem;
    border-top: 1px solid $--border-primary;
    padding-bottom: 7.4rem;

    &__menu {
        padding-top: 4.7rem;
        @include display-flex();
        @include flex-justify-content(space-between);

        @include respond(phone) {
            flex-flow: wrap;
            padding-top: 1.6rem;
        }

        li {
            display: inline-block;

            @include respond(phone) {
                width: 50%;
                text-align: center;
                padding-top: 3.1rem;
            }

            a {
                font-size: 1.3rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #111;
            }
        }
    }

    &__contact {
        margin-top: 4.7rem;
        padding-top: 5.7rem;
        text-align: center;
        border-top: 1px solid $--border-secondary;

        h3 {
            font-weight: 500;
        }

        ul {
            li {
                padding-top: 2.7rem;

                p {
                    color: $--secondary-text;

                    span, a {
                        // font-weight: 600;
                        color: #141414;
                    }
                }
            }
        }
    }

    &__bottom {
        margin-top: 5.4rem;
        text-align: center;

        small {
            text-transform: uppercase;
            // color: $--third-text;
            color: #777;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    &__socials {
        margin-bottom: 2.1rem;

        a {
            display: inline-block;
            margin-right: 2.1rem;

            &:last-of-type {
                margin-right: 0;
            }

            svg {
                width: 1.6rem;
                height: auto;
                fill: $--third-text;

                path {
                    fill: $--third-text !important;
                }
            }

            &:hover {
                svg, path {
                    fill: #141414 !important;
                }
            }
        }
    }
}