@import '../sass/global.scss';

.product {
    @include display-flex();

    @include respond(tab-port) {
        display: block;
        max-width: 64rem;
        margin: auto;
    }

    @include respond(phone) {
        max-width: 100%;
    }
}

.backoffer {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;

    span {
        font-family: 'Inter', sans-serif;
    }
}

.presentation {
    width: calc(100% - 54rem);
    margin-bottom: 4.2rem;

    @include respond(tab-port) {
        width: 100%;
        margin-bottom: 2.1rem;
    }

    @include respond(phone) {
        margin-top: -3.7rem;
        margin-bottom: 0;
    }

    &__inner {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4.2rem;
        padding-right: 0;
        padding-left: 0;

        @include respond(tab-port) {
            max-width: 100%;
        }
    }
}

.info {
    width: 54rem;
    border-left: 1px solid $--border-primary;
    padding-top: 1.4rem;
    padding-bottom: 4.2rem;
    box-sizing: border-box;

    @include respond(tab-port) {
        width: 100%;
        border-left: 0;
    }

    &__box {
        position: sticky;
        // top: 10rem;
        top: -12.7rem;
    }

    h1 {
        padding-top: 1.4rem;
        font-size: 2.4rem;
    }
}

.dimensions {
    border-bottom: 1px solid $--border-primary;

    p {
        padding-bottom: 2.4rem;
        color: #333;

        span {
            font-weight: 600;
        }
    }
}

.description {
    p {
        padding-top: 1.4rem;
        color: rgb(126, 126, 126);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.7;
    }
}

.delivery {
    border-top: 1px solid $--border-primary;
    border-bottom: 1px solid $--border-primary;
    margin-top: 2.1rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;

    p {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 2.1rem;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
        color: $--secondary-text;
    }
}

.price {
    margin-top: 2.7rem;
    margin-bottom: 1.4rem;
    
    p {
        font-size: 2.4rem;
        font-weight: 500;
    }

    span {
        display: block;
        margin-top: .7rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: $--third-text;
    }

    // span {
    //     font-size: 1.2rem;
    //     font-weight: 600;
    //     color: $--third-text;
    // }
}

.addcart {
    display: block;
    width: 100%;
    margin-top: 2.7rem;
    text-align: center;
    background: #000;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.rest {
    border-top: 1px solid $--border-primary;
    // min-height: 200rem;

    padding-top: 4.7rem;
}

.instagram {
    margin-top: 8.4rem;
    margin-bottom: 10.4rem;
}

.twoboxes {
    border-top: 1px solid $--border-primary;
}