@import '../../sass/global.scss';

.intro {
    padding-top: 5.7rem;
    margin-bottom: 4.7rem;

    h1 {
        text-align: center;
        margin: 0;
    }
}

.desc {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.details {
    text-align: center;
    padding-top: 1.7rem;

    &__row {

        h5 {
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 1.4rem;
            color: $--secondary-text;
        }

        p, a {
            display: block;
            font-size: 1.8rem;
            font-weight: 500;
            padding-bottom: 3.7rem;
            color: #141414;

            span {
                padding-top: 1.4rem;
                display: block;
            }
        }
    }
}

.custom {
    margin-top: 6.4rem;
}

.bottomPic {
    margin-top: 4.7rem;
    margin-bottom: 5.7rem;
}