@import '../../sass/global.scss';

.intro {
    padding-top: 5.7rem;
    margin-bottom: 4.7rem;

    h1 {
        text-align: center;
        margin: 0;
    }
}

.desc {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.products {
    // margin-left: -1.7rem;
    // width: 80%;

    @media screen and (max-width: 43.75em) {
        margin-left: -2.4rem;
        width: calc(100% + 4.8rem);
    }
}

.products__inner {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

// .custom, .about {
//     max-width: 107rem;
//     margin-left: auto;
//     margin-right: auto;
// }

.custom {
    margin-top: 4.7rem;
    // // background: lighten($color: $--primary, $amount: 1%) ;
    // background: #141414;
    // padding: 5.4rem 6.4rem;
    // box-sizing: border-box;
    // @include display-flex();
    // @include box-align(center);
}

.customInfo {
    width: calc(100% - 37rem);
    padding-right: 3.4rem;
    box-sizing: border-box;

    h2 {
        // font-size: 2.5rem;
        font-size: 2rem;
        color: #fff;
    }

    p {
        padding-top: 2.4rem;
        color: $--third-text;
    }
}

.contact {
    width: 37rem;
    padding-left: 3.4rem;
    box-sizing: border-box;
    // border-left: 1px solid #ddd;
    // border-left: 1px solid darken($color: $--primary, $amount: 7%);
    border-left: 1px solid #333;

    &__row {
        margin-top: 3.4rem;

        h5 {
            padding-bottom: .7em;
            font-size: 1.7rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff;
        }

        p, a {
            font-size: 1.6rem;
            font-weight: 500;
            // color: #444;
            color: $--third-text;
        }
    }

    &__small {
        display: block;
        padding-top: 1.4rem;
    }
}

.about {
    margin-top: 4.7rem;
}




.prod {
    @include display-flex();
    margin-bottom: 2.7rem;
    // background: #f7f7f7;
    border: 1px solid $--border-primary;

    @media screen and (max-width: 43.75em) {
        max-width: 47rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    @media screen and (max-width: 43.75em) {
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }
    
    @media screen and (max-width: 31.25em) {
        max-width: 100%;
    }

    &__image {
        width: 47rem;
        overflow: hidden;

        @include respond(tab-port) {
            width: 32rem;
        }

        @media screen and (max-width: 43.75em) {
            width: 100%;
        }
    }

    &__imageZoom {
        display: block;
        @include createTransition(.4s, ease);

        &:hover {
            @include transform(scale(1.05));
        }
    }

    &__info {
        width: calc(100% - 47rem);
        padding: 4.1rem 4.7rem;
        box-sizing: border-box;

        @include respond(tab-port) {
            width: calc(100% - 32rem);
        }

        @media screen and (max-width: 43.75em) {
            width: 100%;
            padding: 4.1rem 0;
        }

        @media screen and (max-width: 31.25em) {
            padding: 4.1rem 2.4rem;
        }
    }

    &__infoBox {
        position: sticky;
        top: 14.7rem;

        h2 {
            font-size: 2.4rem;
            font-weight: 600;

            span {
                font-size: 1.2rem;
                display: block;
                color: $--secondary-text;
            }
        }
    }

    &__dimensions {
        margin-top: 1.7rem;
        padding-top: 1.9rem;
        border-top: 1px solid $--border-primary;

        p {
            padding-bottom: 2.4rem;
            color: #333;

            span {
                font-weight: 600;
            }
        }
    }

    &__infoAction {
        margin-top: 1.4rem;

        a {
            display: block;
            color: #fff;
        }
    }
}