@import '../../sass/global.scss';

.box {
    text-align: center;

    &__header {
        h3 {
            font-size: 3.7rem;
            font-weight: 600;
        }

        p {
            padding-top: 2.1rem;
            // width: 90%;
            margin: auto;
            max-width: 70rem;
        }
    }

    &__images {
        margin-top: 2.4rem;
        @include clearfix;
    }

    &__pic {
        width: 25%;
        float: left;
        position: relative;

        @include respond(tab-port) {
            width: 50%;
        }
    }

    &__picOverlay {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: rgba($color: #141414, $alpha: .84);
        opacity: 0;
        @include createTransition(.4s, ease);

        &:hover {
            opacity: 1;

            .box__picInfo {
                @include transform(translateY(0));
                opacity: 1;
            }
        }
    }

    &__picInfo {
        // @include absoluteCenter;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 25%;
        @include createTransition(.6s, ease);
        @include transform(translateY(-10px));
        opacity: 0;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #fff;
        }

        span {
            font-size: 1.2rem;
            padding: .9rem 1.2rem;
        }
    }
}