@import '../../sass/global.scss';

.list {

}

.item {
    margin-top: 4.7rem;
    @include display-flex();
    // @include box-align(center);

    @media screen and (max-width: 43.75em) {
        display: block;
    }
}

.image {
    width: calc(100% - 33.4rem);
    margin-right: 3.4rem;

    @include respond(tab-port) {
        width: calc(100% - 23.4rem);
    }

    @media screen and (max-width: 43.75em) {
        width: calc(100% + 4.8rem);
        margin-left: -2.4rem;
    }
    
    &__sticky {
        position: sticky;
        top: 15.4rem;
    }

    &__caption {
        position: absolute;
        left: 0; bottom: 0;
        padding: 1.7rem 1.9rem;
        background: rgba($color: #141414, $alpha: .74);

        @include respond(phone) {
            padding: 1.2rem 1.5rem;
        }

        @media screen and (max-width: 30em) {
            text-align: center;
            right: 0;
            background: transparent;
        }
    
        span {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600;

            @include respond(phone) {
                font-size: 1.2rem;
            }

            @media screen and (max-width: 30em) {
                font-weight: 700;
            }
            
        }
    }
}

.info {
    width: 30rem;
    border: 1px solid $--border-primary;
    padding: 2.7rem 1.7rem;
    box-sizing: border-box;
    text-align: center;

    @include respond(tab-port) {
        width: 20rem;
    }

    @media screen and (max-width: 43.75em) {
        width: calc(100% + 4.8rem);
        margin-top: 2.1rem;
        border: 0;
        padding: 2.1rem 0;
        margin-left: -2.4rem;
    }

    &__title {
        text-align: center;

        h3 {
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1.5;

            @media screen and (max-width: 43.75em) {
                font-size: 1.5rem;
            }
        }
    }
}

.lamps {
    // margin-top: 2.1rem;
    border-top: 1px solid $--border-primary;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4rem;

    @include respond(tab-port) {
        width: 90%;
    }

    @media screen and (max-width: 43.75em) {
        max-width: 30rem;
        width: 100%;
        border-top: 0;
        margin-top: 2.1rem;
    }

    // 480px
    @media screen and (max-width: 30em) {
        max-width: 100%;
        margin-top: 3.1rem;
    }

    &__item {
        margin-top: 1.7rem;

        @media screen and (max-width: 43.75em) {
            border: 1px solid $--border-primary;
            // border-bottom: 1px solid $--border-primary;
        }

        @media screen and (max-width: 30em) {
            border-left: 0; 
            border-right: 0;
        }
    }

    &__title {
        margin-top: 1.2rem;

        @media screen and (max-width: 43.75em) {
            padding:  .4rem 1.4rem .7rem;
        }

        h4 {
            font-size: 1rem;
            font-weight: 600;
            color: $--secondary-text;
            line-height: 1.5;
            text-transform: uppercase;
            letter-spacing: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &__action {
        margin-top: .9rem;

        @media screen and (max-width: 43.75em) {
            padding: 0 1.4rem 1.7rem;
        }

        a {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 1.2rem;
            padding: 1.2rem;
        }
    }
}